<div class="container-fruid">
  <div class="row">
    <div class="col-4 pr-0">
      <div class="tab-panels">
        <ul class="tabs mt-4 mx-auto" style="width:87%;">
          <%= link_to genre_path(Genre.find_by(genre_name: '喫茶店')), remote: true do %><li rel="panel-4" class="active px-3" >喫茶店</li><%end%>
          <%= link_to genre_path(Genre.find_by(genre_name: 'カフェ')), remote: true do %><li rel="panel-5" class="px-3">カフェ</li><%end%>
          <%= link_to genre_path(Genre.find_by(genre_name: 'バー')), remote: true do %><li rel="panel-6" class="px-3">バー</li><%end%>
          <%= link_to genre_path(Genre.find_by(genre_name: '居酒屋')), remote: true do %><li rel="panel-7" class="px-3">居酒屋</li><%end%>
        </ul>
      </div>
      <p class="font-italic text-center mt-2 mb-0">マップをクリックしてみよう!</p>
      <div id="shop_list" class="genre_index mb-3">
        <%= render "shops/index", shops: @genre_coffees %>
      </div>
    </div>
    <div class="col-8 px-0">
      <%= render 'maps/index', maps:@genre_coffees %>
    </div>
  </div>
</div>