<div class="card-list-container py-1">
  <% shops.each do |shop| %>
    <div class="post mx-auto mt-5">
      <div class="d-flex justify-content-between">
        <div class="user_info">
          <%= link_to user_path(shop.user) do %>
            <div class="d-inline-block"><%= attachment_image_tag shop.user, :profile_image, :fill, 40, 40, fallback: "no-image-icon.jpg", class:"rounded-circle"; %><br></div>
            <div class="d-inline-block"><%= shop.user.nickname %></div>
          <% end %>
        </div>
        <div class="pt-2"><%= shop.created_at.strftime('%m月%d日') %></div>
      </div>
      <div class="card shadow-lg">
        <%= link_to shop_path(shop.id)  do %>
          <%= attachment_image_tag shop, :image, fallback: "no-image-icon.jpg", class:"card-img-top"; %>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div><%= render 'shops/tag_list', tag_list:shop.tag_list %></div>
              <p class="card-title">
                <%= link_to(shop_path(shop.id), class:"text-dark") do %>
                  <strong><i class="far fa-flag"></i><span> <%= shop.genre.genre_name %></span><span> <%= shop.shop_name %></span></strong>
                <% end %>
              </p>
              <p class="card-text"> <%= shop.body %></p>
              <span id="favorite-btn_<%= shop.id %>">
                <%= render 'favorites/favorite-btn', shop: shop %>
              </span>
              <span>
                <%= link_to shop_path(shop.id), class:"text-dark" do %>
                    <i class="far fa-comments ml-2"></i>コメント<%= shop.shop_comments.count %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>