<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>投稿編集</h1>
      <%= form_with model:@shop,local:true do |f| %>
        <div class="form-group">
          <div class=""><%= f.label :"画像" %></div>
          <div><%= f.attachment_field :image %></div>
        </div>
        <div class="form-group">
          <div><%= f.label :"住所" %></div>
          <div><%= f.text_field :address, class:"form-control" %></div>
        </div>
        <div class="form-group">
          <div><%= f.label :"店名" %></div>
          <div><%= f.text_field :shop_name, class:"form-control" %></div>
        </div>
        <div class="form-group">
          <div><%= f.label :"お店のタイプ" %></div>
          <div><%= f.collection_select :genre_id, Genre.all, :id, :genre_name, prompt: "選択してください" %></div>
        </div>
        <div class="form-group">
          <div class=""><%= f.label :"喫煙" %></div>
          <div><%= f.select :smoke_type, [["全席喫煙可", "全席喫煙可"], ["分煙", "分煙"], ["電子のみ", "電子のみ"], ["喫煙所あり", "喫煙所あり"]], include_blank: "選択して下さい" %></div>
        </div>
        <div class="form-group">
          <div class=""><%= f.label :"投稿内容" %></div>
          <div><%= f.text_area :body, rows:"4", class:"form-control" %></div>
        </div>
        <div class="form-group">
          <div class=""><%= f.label :"タグ" %></div>
          <div><%= f.text_field :tag_list, value: @shop.tag_list.join(','), class:"form-control" %></div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-outline-primary"><i class="far fa-edit">更新</i></button>
        </div>
      <% end %>
      <%= link_to 'Show', shop_path(@shop), class: "shop_#{@shop.id}" %> |
      <%= link_to 'Back', shops_path, class: "back" %>
    </div>
  </div>
</div>
