<div class="user_info text-center mt-5">
  <div class="d-inline-block"><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg", class:"rounded-circle mb-5"; %></div>
  <div class="d-inline-block">
    <h4 class="d-inline-block"><%= @user.nickname %></h4>
    <% if @user == current_user %>
      <div class="d-inline-block ml-2">
        <%= link_to edit_user_path(current_user), class: "btn btn-outline-dark btn-sm mb-2" do %>
          <i class="fas fa-user-cog">変更</i><% end %>
      </div>
    <% end %>
    <div class="d-flex justify-content-start">
      <div class="ml-3">投稿: <%= current_user.shops.count %>件</div>
      <div class="ml-3">いいね: <%= current_user.favorites.count %>件</div>
    </div>
  </div>
</div>
<ul class="nav justify-content-center">
  <li class="nav-item">
     <%= link_to "いいね一覧", favorites_user_path(@user), class:"nav-link active" %>
  </li>
  <li>
    <%= link_to "自分の投稿一覧", user_path(@user), class:"nav-link active" %>
  </li>
  <li>
    <a class="nav-link active">通知</a>
    </li>
</ul>
<%= render 'shops/index', shops:@shops %>
