<div class="user_info text-center mt-5">
  <div class="d-inline-block"><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg", class:"rounded-circle mb-5"; %></div>
  <div class="d-inline-block">
    <h4 class="d-inline-block"><%= @user.nickname %></h4>
    <% if @user == current_user %>
      <div class="d-inline-block ml-2">
        <%= link_to edit_user_path(current_user), class: "btn btn-outline-dark btn-sm mb-2" do %>
          <i class="fas fa-user-cog">変更</i><% end %>
      </div>
    <% end %>
    <div class="d-flex justify-content-start">
      <div class="ml-3">投稿: <%= current_user.shops.count %>件</div>
      <div class="ml-3">いいね: <%= current_user.favorites.count %>件</div>
    </div>
  </div>
</div>
<div class="tab-panels">
  <ul class="tabs d-flex justify-content-center">
    <li rel="panel-1" class="active　d-flex justify-content-center">
      <i class="fas fa-map-marker-alt fa-2x"></i>
      <p class="mb-0">投稿</p>
    </li>
    <li rel="panel-2">
      <i class="fas fa-heart fa-2x"></i>
      <p class="mb-0">いいね</p>
    </li>
    <% if @user == current_user %>
      <li id="bellmark" rel="panel-3">
        <% if unchecked_notifications.any? %>
          <span class="fa-stack">
            <i class="far fa-bell far-lg fa-stack-2x"></i>
            <i class="fas fa-circle n-circle fa-stack-1x"></i>
          </span>
        <% else %>
          <i class="far fa-bell fa-2x"></i>
          <p class="mb-0">通知</p>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div id="panel-1" class="panel active user_shop_index"><%= render 'shops/index', shops:@shops %></div>
  <div id="panel-2" class="panel user_shop_index"><%= render "shops/index", shops:@favorite_shops %></div>
  <div id="panel-3" class="panel" style="justify-content:center;display:flex;"></div>
</div>

